/* Importanto a fonte externa e definindo as variáveis de ambiente */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
:root {
	--darker-bg: #182028;
	--default-bg: #232634;
	--lighter-bg: #303440;
	--default-bg-rgba: rgba(35, 38, 52, 0.9);
}

/* Configuração generalista */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
hr {
	margin: 20px 0px;
}

/* Configuração do plano de fundo */
body {
	background-color: var(--default-bg);
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}
#background {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background-image: url('../img/bg_landscape.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
@media (orientation: portrait) {
	#background {
		background-image: url('../img/bg_portrait.png');
	}
}
#vinheta {
	/* Uma div com id de vinheta */
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: radial-gradient(transparent 60%, #000 80%);
	background-attachment: fixed;
	position: relative;
}

/* Põe a div main no meio com margens */
#main {
	min-height: 40vh;
	width: 85%;
	background-color: var(--default-bg-rgba);
	margin: 3% auto;
	border: none;
	padding: 20px;
	text-align: center;
	border: 2px solid var(--darker-bg);
}

/* Opções de cor de fonte. */
a {
	text-decoration: none;
}
h1 {
	font-family: "New Rocker", system-ui;
	font-weight: 400;
	font-style: normal;
	color: crimson;
}
h2, p {
	color: white
}

/* Cabeçalho */
#head {
	padding: 10px;
	width: 100%;
	background-color: var(--default-bg); 
	border: none;
	border-bottom: 10px solid var(--darker-bg);
}
#header {
	display: flex;
	align-items: center;
	padding: 10px;
	width: 100%;
	background-color: var(--default-bg); 
	border: none;
	justify-content: space-between;
}
#menuButton {
	cursor: pointer;
	background: none;
	border: 2px solid #fff;
	border-radius: 5px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	padding: 4px 4px 0px 4px;
}
.hidden {
	display: none;
}
#menuNav {
	width: 100%;
	background-color: var(--default-bg);
	border-radius: 5px;
	padding: 0px;
	margin: 0px;
}
#menuNav ul {
	border: 0px solid black;
	list-style-type: none;
	display: flex;
	gap: 30px;
	justify-content: space-around;
	align-items: center
}
#menuNav ul li {
	cursor: pointer;
}
#menuNav ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: 2px solid var(--lighter-bg);
	text-align: left;
	color: white;
	text-decoration: none;
	padding: 8px 8px;
	border-bottom: 2px solid rgba(200, 200, 200, 0.8);
}
#menuNav ul li:hover a {
	background-color: var(--darker-bg);
	border: 2px solid var(--lighter-bg);
	transform: scale(1.1);
	transition: 0.4s;
	font-weight: bold;
}
@media (orientation: portrait) {
	#menuNav ul {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
	#menuNav ul li {
		width: 80%;
	}
}

/* Estilização do rodapé */
#foot {
	padding: 10px;
	width: 100%;
	background-color: var(--default-bg); 
	border: none;
	border-top: 10px solid var(--darker-bg);
	position: relative;
}

/* Estilização da imagem da logo. */
#logo {
	background-image: url('../favicon.ico');
	background-size: cover;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid white;
}

/* Estilização do botão do rodapé pra subir. */
#subir {
	font-weight: bold;
	font-size: 14px;
	width: 20%;
	padding: 6px;
	color: white;
	background-color: var(--darker-bg);
	border: 2px solid #fff;
	border-radius: 4px;
}
